<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.fingerprint">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Transaction2Activity"
            android:label="@string/title_activity_transaction2"
            android:parentActivityName=".Transaction1Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register1Activity"
            android:label="Register Account"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register2Activity"
            android:label="Register Confirmation"
            android:parentActivityName=".Register1Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FingerprintActivity"
            android:label="Scan Fingerprint"
            android:parentActivityName=".Transaction1Activity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Transaction3Activity"
            android:label="@string/title_activity_transaction3"
            android:theme="@style/AppTheme"
            android:parentActivityName=".HomeActivity"
            /> **for temporaily only
        <activity
            android:name=".Transaction1Activity"
            android:label="@string/title_activity_transaction1"
            android:theme="@style/AppTheme"
            android:parentActivityName=".HomeActivity">
        </activity>

    </application>

</manifest>